* {
  box-sizing: border-box;
}

.btn-start {
  background-color: coral;
  color: whitesmoke;
  border: 2px solid #512751;
  border-radius: 15px;
  margin: 15px auto;
  display: block;
  width: 10rem;
  height: 2rem;
}


.container {
  width: 800px;
  height: 900px;
  border: 5px solid #080300;
  margin: 15px auto;
  background-image: url("./courses/calendar.png") ;
}